Build
Temp
hotdog
hotdog-printALSAStatus
hotdog-setALSAMute:
hotdog-setALSAVolume
hotdog-monitorBlockDevices
hotdog-monitorNetworkInterfaces
hotdog-monitorMonitors
hotdog-generateALSAPanel
hotdog-printALSAUpdates
hotdog-setALSAValues
hotdog-solveFifteenPuzzle
