Build
Temp
hotdog
hotdog-generateALSAPanel
hotdog-monitorBlockDevices
hotdog-monitorNetworkInterfaces
hotdog-monitorMonitors
hotdog-monitorMountChanges
hotdog-printALSAStatus
hotdog-printALSAUpdates
hotdog-setALSAMute:
hotdog-setALSAValues
hotdog-setALSAVolume
hotdog-solveFifteenPuzzle
hotdog-packRectanglesIntoWidth:height:...
