[Desktop Entry]
Version=1.0
Name=HOTDOGbuntu WinMac
Comment=HOTDOGbuntu WinMac
Exec=hotdogbuntu-winmac.sh
Icon=
Type=Application
DesktopNames=HOTDOGbuntu WinMac

