[Desktop Entry]
Version=1.0
Name=HOTDOGbuntu Mac Color
Comment=HOTDOGbuntu Mac Color
Exec=hotdogbuntu-maccolor.sh
Icon=
Type=Application
DesktopNames=HOTDOGbuntu Mac Color

