[Desktop Entry]
Version=1.0
Name=HOTDOGbuntu Atari ST
Comment=HOTDOGbuntu Atari ST
Exec=hotdogbuntu-atarist.sh
Icon=
Type=Application
DesktopNames=HOTDOGbuntu Atari ST

