[Desktop Entry]
Version=1.0
Name=HOTDOGbuntu Mac Platinum
Comment=HOTDOGbuntu Mac Platinum
Exec=hotdogbuntu-macplatinum.sh
Icon=
Type=Application
DesktopNames=HOTDOGbuntu Mac Platinum

